<%- include ('./header.ejs') %>

<a id='qodef-back-to-top' href='#'>
<span class="qodef-btt-text">TOP</span>
</a>
<div class="qodef-content" style="margin-top: -126px">
<div class="qodef-content-inner"> <div class="qodef-slider">
<div class="qodef-slider-inner">
<p class="rs-p-wp-fix"></p>
<rs-module-wrap id="rev_slider_2_1_wrapper" data-source="gallery" style="background:#3fd0d3;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
<rs-module id="rev_slider_2_1" style="" data-version="6.4.6">
<rs-slides>

<% for(i=0;i<result[3].length;i++){ %>
	<rs-slide data-key="rs-3" data-title="Slide" data-thumb="/design/wp-content/uploads/2018/09/h1-slider-img-1--100x50.jpg" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
<img src="/images/dubai2.jpg" title="Travel Agency" class="rev-slidebg tp-rs-img" data-parallax="off" data-panzoom="d:10000;ss:100;se:110;" data-no-retina>
<rs-layer id="slider-2-slide-3-layer-1" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;yo:-56px,-54px,-102px,-207px;" data-text="s:48,48,48,34;l:58,58,58,44;a:inherit;" data-dim="w:227px,auto,220px,auto;h:auto,auto,64px,auto;" data-padding="b:0,5,0,0;l:0,,5,5;" data-frame_0="y:50px;tp:600;" data-frame_1="tp:600;e:power2.inOut;sp:1000;sR:10;" data-frame_999="o:0;tp:600;st:w;sR:2990;" style="z-index:5;font-family:Satisfy;">Let's go now
</rs-layer><rs-layer id="slider-2-slide-3-layer-2" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;yo:19px,20px,-38px,-164px;" data-text="s:120,120,70,35;l:126,126,86,31;ls:-6px,-5px,-4px,-1px;fw:600;a:inherit;" data-frame_0="y:50px;tp:600;" data-frame_1="tp:600;e:power2.inOut;st:220;sp:1000;sR:220;" data-frame_999="o:0;tp:600;st:w;sR:2780;" style="z-index:6;font-family:Poppins;">Explore and travel.
</rs-layer><rs-layer id="slider-2-slide-3-layer-3" data-type="text" data-rsp_ch="on" data-xy="x:c;xo:0,0,0,584px;y:m;yo:132px,127px,57px,1px;" data-text="w:normal;s:20,20,18,15;l:26,26,26,21;a:center;" data-dim="w:757px,714px,651px,295px;h:53px,47px,auto,auto;" data-frame_0="o:1;tp:600;" data-frame_0_lines="d:5;y:50px;o:0;" data-frame_1="tp:600;e:power2.inOut;st:300;sp:1450;sR:300;" data-frame_1_lines="d:5;" data-frame_999="o:0;tp:600;st:w;sR:2250;" style="z-index:7;font-family:Poppins;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis Theme
</rs-layer> </rs-slide>
<% } %>

</rs-slides>
</rs-module>
<script data-cfasync="false" src="https://cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript">
					setREVStartSize({c: 'rev_slider_2_1',rl:[1920,1700,1025,480],el:[],gw:[1300,1100,600,300],gh:[810,580,630,525],type:'standard',justify:'',layout:'fullwidth',mh:"0"});
					var	revapi2,
						tpj;
					function revinit_revslider21() {
					jQuery(function() {
						tpj = jQuery;
						revapi2 = tpj("#rev_slider_2_1");
						if(revapi2==undefined || revapi2.revolution == undefined){
							revslider_showDoubleJqueryError("rev_slider_2_1");
						}else{
							revapi2.revolution({
								sliderLayout:"fullwidth",
								duration:4000,
								visibilityLevels:"1920,1700,1025,480",
								gridwidth:"1300,1100,600,300",
								gridheight:"810,580,630,525",
								perspectiveType:"local",
								responsiveLevels:"1920,1700,1025,480",
								startWithSlide:1,
								progressBar:{disableProgressBar:true},
								navigation: {
									mouseScrollNavigation:false,
									onHoverStop:false,
									touch: {
										touchenabled:true
									},
									arrows: {
										enable:true,
										tmp:"<span class=\"qodef-nav-arrow\"></span>",
										style:"setsail-navigation",
										hide_onmobile:true,
										hide_under:1025,
										left: {
											h_offset:25,
											v_offset:63
										},
										right: {
											h_offset:25,
											v_offset:63
										}
									},
									bullets: {
										enable:true,
										tmp:"",
										style:"setsail-navigation",
										hide_over:1024,
										v_offset:50,
										space:12
									}
								},
								parallax: {
									levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
									type:"mouse"
								},
								viewPort: {
									enable:true,
									visible_area:"1%"
								},
								fallbacks: {
									allowHTML5AutoPlayOnAndroid:true
								},
							});
						}
						
					});
					} // End of RevInitScript
				var once_revslider21 = false;
				if (document.readyState === "loading") {document.addEventListener('readystatechange',function() { if((document.readyState === "interactive" || document.readyState === "complete") && !once_revslider21 ) { once_revslider21 = true; revinit_revslider21();}});} else {once_revslider21 = true; revinit_revslider21();}
				</script>
<script>
					var htmlDivCss = unescape(".setsail-navigation.tparrows%20%7B%0A%20%20%20%20background%3A%20transparent%3B%0A%20%20%20%20width%3A%2055px%3B%0A%20%20%20%20height%3A%2055px%3B%0A%7D%0A%0A.setsail-navigation.tparrows%3Abefore%20%7B%0A%09display%3A%20none%20%21important%3B%0A%7D%0A%0A.setsail-navigation.tparrows.tp-leftarrow%20.qodef-nav-arrow%2C%20%0A.setsail-navigation.tparrows.tp-rightarrow%20.qodef-nav-arrow%20%7B%0A%20%20%20%20position%3A%20relative%3B%0A%20%20%20%20height%3A%20100%25%3B%0A%20%20%20%20width%3A%20100%25%3B%0A%20%20%20%20display%3A%20inline-block%3B%0A%20%20%20%20vertical-align%3A%20middle%3B%0A%20%20%20%20color%3A%20%233fd0d4%3B%0A%20%20%20%20background-color%3A%20%23fff%3B%0A%20%20%20%20border-radius%3A%20100%25%3B%0A%20%20%20%20font-size%3A%2035px%3B%0A%20%20%20%20line-height%3A%2055px%3B%0A%20%20%20%20text-align%3A%20center%3B%0A%20%20%20%20-webkit-transition%3A%20color%20.3s%20ease%2C%20background-color%20.3s%20ease%3B%0A%20%20%20%20transition%3A%20color%20.3s%20ease%2C%20background-color%20.3s%20ease%3B%0A%20%20%20%20box-sizing%3A%20border-box%3B%0A%7D%0A%0A.setsail-navigation.tparrows.tp-leftarrow%20.qodef-nav-arrow%20%7B%0A%09padding-left%3A%204px%3B%0A%7D%0A%0A.setsail-navigation.tparrows.tp-rightarrow%20.qodef-nav-arrow%20%7B%0A%09padding-right%3A%203px%3B%0A%7D%0A%0A.setsail-navigation.tparrows.tp-leftarrow%3Ahover%20.qodef-nav-arrow%2C%20%0A.setsail-navigation.tparrows.tp-rightarrow%3Ahover%20.qodef-nav-arrow%20%7B%0A%09color%3A%20%23fff%3B%0A%09background-color%3A%20%233fd0d4%3B%0A%7D%0A%0A.setsail-navigation.tparrows.tp-leftarrow%20.qodef-nav-arrow%3Abefore%2C%20%0A.setsail-navigation.tparrows.tp-rightarrow%20.qodef-nav-arrow%3Abefore%20%7B%0A%20%20%09display%3A%20inline-block%3B%0A%20%20%20%09vertical-align%3A%20top%3B%0A%20%20%20%09font-family%3A%20%22linea-arrows-10%22%20%21important%3B%20%0A%20%20%09font-style%3A%20normal%20%21important%3B%0A%20%20%09font-weight%3A%20normal%20%21important%3B%0A%20%20%09font-variant%3A%20normal%20%21important%3B%0A%20%20%20%09text-transform%3A%20none%20%21important%3B%0A%20%20%20%09speak%3A%20none%3B%0A%20%20%20%09line-height%3A%20inherit%3B%0A%20%20%20%09-webkit-font-smoothing%3A%20antialiased%3B%0A%20%20%20%09-moz-osx-font-smoothing%3A%20grayscale%3B%0A%7D%0A.setsail-navigation.tparrows.tp-leftarrow%20.qodef-nav-arrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce03f%22%3B%0A%7D%0A.setsail-navigation.tparrows.tp-rightarrow%20.qodef-nav-arrow%3Abefore%20%7B%0A%20%20%20%09%20content%3A%20%22%5Ce04b%22%3B%0A%7D%0A%23rev_slider_2_1_wrapper%20.setsail-navigation%20.tp-bullet%20%7B%0A%20%20%20%09%09width%3A%2012px%3B%0A%20%20%20%20%20%20%20%20height%3A%2012px%3B%0A%20%20%20%20%20%20%20%20background%3A%20none%3B%0A%7D%0A%0A%23rev_slider_2_1_wrapper%20.setsail-navigation%20.tp-bullet%3Aafter%20%7B%0A%20%20%20%09%09%20content%3A%20%27%27%3B%0A%20%20%20%09%09%20position%3A%20absolute%3B%0A%20%20%20%09%09%20top%3A%2050%25%3B%0A%20%20%20%09%09%20left%3A%2050%25%3B%0A%20%20%20%09%09%20height%3A%20100%25%3B%0A%20%20%20%09%09%20width%3A%20100%25%3B%0A%20%20%20%20%09border-radius%3A%203em%3B%0A%09%09background-color%3A%20rgba%28rgba%2863%2C%20208%2C%20212%2C%200.5%29%29%3B%0A%09%09border%3A%200%3B%0A%20%20%20%20%09-webkit-transform%3A%20translate%28-50%25%2C%20-50%25%29%3B%0A%20%20%20%09%09-moz-transform%3A%20translate%28-50%25%2C%20-50%25%29%3B%0A%20%20%20%20%09transform%3A%20translate%28-50%25%2C%20-50%25%29%3B%0A%20%20%20%20%09box-sizing%3A%20border-box%3B%0A%7D%0A%0A%23rev_slider_2_1_wrapper%20.setsail-navigation%20.tp-bullet%3Ahover%3Aafter%2C%0A%23rev_slider_2_1_wrapper%20.setsail-navigation%20.tp-bullet.selected%3Aafter%20%7B%0A%20%20%20%09%09%20background-color%3A%20rgb%28%233fd0d4%29%3B%0A%7D%0A%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
<script>
					var htmlDivCss = unescape("%0A%0A%0A%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
</rs-module-wrap>

</div>
</div>
<div class="qodef-full-width">
<div class="qodef-full-width-inner">
<div class="qodef-grid-row">
<div class="qodef-page-content-holder qodef-grid-col-12">
<div class="qodef-row-grid-section-wrapper "><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid qodef-custom-class-fp vc_custom_1540992002315"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-tours-filter-holder qodef-tours-filter-horizontal">
<div class="qodef-tours-search-filters-holder">
<form action="/tour-search" method="post">
<div class="qodef-tours-filters-fields-holder">
<div class="qodef-tours-filter-field-holder qodef-tours-filter-col">
<div class="qodef-tours-input-with-icon">
<span class="qodef-tours-input-icon">
<span class="icon_compass"></span>
</span>
<select class="qodef-tours-select-placeholder" name="countryid" id="mycountryid">

	</select>
</div>
</div>
<div class="qodef-tours-filter-field-holder qodef-tours-filter-col">
<div class="qodef-tours-input-with-icon">
<span class="qodef-tours-input-icon">
<span class="icon_calendar"></span>
</span>
<input type="date" name="date">
</div>
</div>
<div class="qodef-tours-filter-field-holder qodef-tours-filter-col">
<div class="qodef-tours-input-with-icon">
<span class="qodef-tours-input-icon">
<span class="icon_pushpin"></span>
</span>
<select class="qodef-tours-select-placeholder" name="visitor">
<option value="1 people">1 people</option>
<option value="2-3 people">2-3 people</option>
<option value="4-5 people">4-5 people</option>
<option value="5+ people">5+ people</option>

</select>
</div>
</div>
<div class="qodef-tours-filter-field-holder qodef-tours-filter-submit-field-holder qodef-tours-filter-col">
<input type="submit" name="setsail_tours_search_submit" value="FIND NOW" class="qodef-btn qodef-btn-medium qodef-btn-solid" data-searching-label="Searching..." /> </div>
</div>
</form>
</div>
</div></div></div></div></div></div></div>

<div class="qodef-row-grid-section-wrapper qodef-content-aligment-center"><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1540212068471"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-3 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-section-title-holder ">
	<div class="qodef-st-inner">
	<span class="qodef-st-tagline" style="margin-bottom: -6px">
	Choose Your </span>
	<h1 class="qodef-st-title">
	Perfect Holiday </h1>
	
	</div>
	</div><div class="vc_empty_space" style="height: 62px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div></div><div class="qodef-row-grid-section-wrapper "><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-tours-dwt-holder qodef-grid-list qodef-disable-bottom-space qodef-one-columns qodef-normal-space">
	<div class="qodef-td-inner qodef-outer-space">
	<div class="qodef-td-item qodef-item-space">
	
	
	
	
	
	
	
	<div class="qodef-td-item-inner">
	
	
		<% for(i=0;i<result[0].length;i++) { %>
	
	<div class="qodef-td-items tour">
	<div class="qodef-tdi-image">
	<img style="width: 100%;height:300px;object-fit: cover;" src="/images/<%=result[0][i].logo%>" class="attachment-setsail_select_image_square size-setsail_select_image_square wp-post-image" alt="c" loading="lazy" srcset="/images/<%=result[0][i].logo%> 1100w" sizes="(max-width: 650px) 100vw, 650px" />
	 <a class="qodef-tdi-link" href="/tour-search?id=<%=result[0][i].id%>"></a>
	</div>
	<div class="qodef-tdi-content-holder">
	<div class="qodef-tdi-content-holder-outer">
	<div class="qodef-tdi-content-holder-inner">
	<div class="qodef-tdi-title-holder">
	<div class="qodef-tdi-title"><%= result[0][i].name %></div>
	</div>
	<div class="qodef-tdi-rating-and-price-holder">
	
	<div class="qodef-tdi-price-holder">
	<span class="qodef-tours-price-holder">
	</span>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	
	
	<% } %>
	
	
	
	</div>
	
	
	
	
	<br/><br/>
	
	
	</div>
	
	</div>
	</div></div></div></div></div></div>
	




<div class="vc_row wpb_row vc_row-fluid vc_custom_1539676941339 qodef-content-aligment-center"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-one-column  qodef-responsive-mode-768 "><div class="qodef-eh-item    " data-item-class="qodef-eh-custom-6763" data-680="0 40px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-6763">
<div class="wpb_single_image wpb_content_element vc_align_center">
<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="438" height="133" src="/design/wp-content/uploads/2018/11/h1-img-1.png" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="/design/wp-content/uploads/2018/11/h1-img-1.png 438w, /design/wp-content/uploads/2018/11/h1-img-1-300x91.png 300w" sizes="(max-width: 438px) 100vw, 438px" /></div>
</figure>
</div>
</div>
</div>
</div></div></div></div></div></div><div class="qodef-row-grid-section-wrapper qodef-parallax-row-holder qodef-content-aligment-center" data-parallax-bg-image=/design/wp-content/uploads/2018/09/h1-parallax-img-1.jpg data-parallax-bg-speed=1 style="background-image: url()"><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_row-o-content-bottom vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-one-column  qodef-responsive-mode-768 "><div class="qodef-eh-item    " data-item-class="qodef-eh-custom-5403" data-1367-1600="106px 345px 451px" data-1025-1366="106px 250px 451px" data-769-1024="106px 80px 339px" data-681-768="106px 0 260px 0" data-680="106px 0 117px 0">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-5403" style="padding: 106px 345px 451px">
<div class="qodef-section-title-holder ">
<div class="qodef-st-inner">
<span class="qodef-st-tagline" style="color: #ffffff;margin-bottom: -6px">
Go &amp; Discover </span>
<h1 class="qodef-st-title" style="color: #ffffff">
Breathtaking Cities </h1>
<p class="qodef-st-text" style="color: #ffffff;font-size: 17px;line-height: 28px">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aene an commodo ligula eget dolor. Aenean massa. Cum sociis the </p>
</div>
</div><div class="vc_empty_space" style="height: 42px"><span class="vc_empty_space_inner"></span></div> </div>
</div>
</div></div></div></div></div></div></div></div></div></div></div></div><div class="qodef-row-grid-section-wrapper qodef-content-aligment-center"><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1537885053523"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-one-column  qodef-responsive-mode-768 "><div class="qodef-eh-item    " data-item-class="qodef-eh-custom-3562" data-769-1024="113px 0 0 0" data-681-768="191px 0 0 0" data-680="334px 0 0 0">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-3562">
<div class="qodef-video-button-holder  qodef-vb-has-img qodef-vb-has-shadow">
<div class="qodef-video-button-image">
<img width="1000" height="480" src="/design/wp-content/uploads/2018/09/h1-video-button-img.jpg" class="attachment-full size-full" alt="d" loading="lazy" srcset="/design/wp-content/uploads/2018/09/h1-video-button-img.jpg 1000w, /design/wp-content/uploads/2018/09/h1-video-button-img-300x144.jpg 300w, /design/wp-content/uploads/2018/09/h1-video-button-img-768x369.jpg 768w, /design/wp-content/uploads/2018/09/h1-video-button-img-600x288.jpg 600w" sizes="(max-width: 1000px) 100vw, 1000px" /> </div>
<a class="qodef-video-button-play-image " href="https://vimeo.com/71319358" data-rel="prettyPhoto[video_button_pretty_photo_233]">
<span class="qodef-video-button-play-inner">
<img width="69" height="69" src="/design/wp-content/uploads/2018/09/play-button.png" class="attachment-full size-full" alt="d" loading="lazy" /> </span>
</a>
</div> </div>
</div>
</div></div></div></div></div></div></div></div><div class="qodef-row-grid-section-wrapper "><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1537195066067"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-four-columns  qodef-responsive-mode-1024 "><div class="qodef-eh-item   qodef-horizontal-alignment-center " data-item-class="qodef-eh-custom-3384" data-769-1024="0 0 48px 0" data-681-768="0 0 48px 0" data-680="0 45px 48px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-3384" style="padding: 0 45px">
<div class="qodef-iwt clearfix  qodef-iwt-icon-top qodef-iwt-icon-medium">
<div class="qodef-iwt-icon">
<img width="76" height="78" src="/design/wp-content/uploads/2018/09/h1-custom-icon-img-1.png" class="attachment-full size-full" alt="a" loading="lazy" srcset="/design/wp-content/uploads/2018/09/h1-custom-icon-img-1.png 76w, /design/wp-content/uploads/2018/09/h1-custom-icon-img-1-73x75.png 73w" sizes="(max-width: 76px) 100vw, 76px" /> </div>
<div class="qodef-iwt-content">
<h5 class="qodef-iwt-title" style="margin-top: -4px">
<span class="qodef-iwt-title-text">Restaurants</span>
</h5>
<p class="qodef-iwt-text">Aenean commodo ligula eget dolor. Lorem ipsum</p>
</div>
</div> </div>
</div>
</div><div class="qodef-eh-item   qodef-horizontal-alignment-center " data-item-class="qodef-eh-custom-6676" data-769-1024="0 0 48px 0" data-681-768="0 0 48px 0" data-680="0 45px 48px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-6676" style="padding: 0 45px">
<div class="qodef-iwt clearfix  qodef-iwt-icon-top qodef-iwt-icon-medium">
<div class="qodef-iwt-icon">
<img width="76" height="78" src="/design/wp-content/uploads/2018/09/h1-custom-icon-img-2.png" class="attachment-full size-full" alt="a" loading="lazy" srcset="/design/wp-content/uploads/2018/09/h1-custom-icon-img-2.png 76w, /design/wp-content/uploads/2018/09/h1-custom-icon-img-2-73x75.png 73w" sizes="(max-width: 76px) 100vw, 76px" /> </div>
<div class="qodef-iwt-content">
<h5 class="qodef-iwt-title" style="margin-top: -4px">
<span class="qodef-iwt-title-text">Sightseeing</span>
</h5>
<p class="qodef-iwt-text">Aenean commodo ligula eget dolor. Lorem ipsum</p>
</div>
</div> </div>
</div>
</div><div class="qodef-eh-item   qodef-horizontal-alignment-center " data-item-class="qodef-eh-custom-4799" data-769-1024="0 0 48px 0" data-681-768="0 0 48px 0" data-680="0 45px 48px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-4799" style="padding: 0 45px">
<div class="qodef-iwt clearfix  qodef-iwt-icon-top qodef-iwt-icon-medium">
<div class="qodef-iwt-icon">
<img width="76" height="78" src="/design/wp-content/uploads/2018/09/h1-custom-icon-img-3.png" class="attachment-full size-full" alt="a" loading="lazy" srcset="/design/wp-content/uploads/2018/09/h1-custom-icon-img-3.png 76w, /design/wp-content/uploads/2018/09/h1-custom-icon-img-3-73x75.png 73w" sizes="(max-width: 76px) 100vw, 76px" /> </div>
<div class="qodef-iwt-content">
<h5 class="qodef-iwt-title" style="margin-top: -4px">
<span class="qodef-iwt-title-text">Shops &amp; Boutiques</span>
</h5>
<p class="qodef-iwt-text">Aenean commodo ligula eget dolor. Lorem ipsum</p>
</div>
</div> </div>
</div>
</div><div class="qodef-eh-item   qodef-horizontal-alignment-center " data-item-class="qodef-eh-custom-4771">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-4771" style="padding: 0 45px">
<div class="qodef-iwt clearfix  qodef-iwt-icon-top qodef-iwt-icon-medium">
<div class="qodef-iwt-icon">
<img width="76" height="78" src="/design/wp-content/uploads/2018/09/h1-custom-icon-img-4.png" class="attachment-full size-full" alt="a" loading="lazy" srcset="/design/wp-content/uploads/2018/09/h1-custom-icon-img-4.png 76w, /design/wp-content/uploads/2018/09/h1-custom-icon-img-4-73x75.png 73w" sizes="(max-width: 76px) 100vw, 76px" /> </div>
<div class="qodef-iwt-content">
<h5 class="qodef-iwt-title" style="margin-top: -4px">
<span class="qodef-iwt-title-text">Where to Stay</span>
</h5>
<p class="qodef-iwt-text">Aenean commodo ligula eget dolor. Lorem ipsum</p>
</div>
</div> </div>
</div>
</div></div></div></div></div></div></div></div>



<!-- holiday start -->
<div class="qodef-row-grid-section-wrapper qodef-content-aligment-center" style="background-color:#f8f8f8"><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1539244737739"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-3 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-section-title-holder ">
	<div class="qodef-st-inner">
	<span class="qodef-st-tagline" style="margin-bottom: -6px">
	Plan The </span>
	<h1 class="qodef-st-title">
	Perfect Holiday </h1>
	
	</div>
	</div><div class="vc_empty_space" style="height: 42px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1539243964139" style="background-color:#f8f8f8"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-tours-carousel-holder qodef-carousel-pagination">
	<div class="qodef-tours-row qodef-tr-20-space">
	<div class="qodef-tours-carousel qodef-tours-row-inner-holder qodef-owl-slider" data-number-of-items="5" data-slider-margin="20" data-enable-loop="yes" data-enable-navigation="no" data-enable-pagination="yes">
	
	
	<!-- start here -->
	
	<% for(i=0;i<result[2].length;i++){ %>
	
		<div class="qodef-tours-standard-item qodef-tours-row-item qodef-item-space post-3160 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-europe tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
	<div class="qodef-tour-standard-item-holder">
	<div class="qodef-tour-standard-item-holder-inner">
	<div class="qodef-tours-standard-item-image-holder">
	<a href="/single/tour/details?id=<%=result[2][i].id%>">
	<img style="width:287px;height: 170px;object-fit: cover;" src="/images/<%=result[2][i].logo%>" class="attachment-full size-full" alt="c" 
	loading="lazy" srcset="/images/<%=result[2][i].logo%> 1100w, /images/<%=result[2][i].logo%> 300w, /images/<%=result[2][i].logo%> 768w, /images/<%=result[2][i].logo%> 1024w, /images/<%=result[2][i].logo%> 600w" sizes="(max-width: 1100px) 100vw, 1100px" /> </a>
	</div>
	<div class="qodef-tours-standard-item-content-holder">
	<div class="qodef-tours-standard-item-top-content">
	<div class="qodef-tours-standard-item-top-item">
	<div class="qodef-tour-duration-holder">
	<span class="qodef-tour-duration-icon qodef-tour-info-icon">
	<span class="icon_calendar"></span>
	</span>
	<span class="qodef-tour-info-label">
		<%=result[2][i].days%></span>
	</div>
	</div>
	<div class="qodef-tours-standard-item-top-item">
	<div class="qodef-tour-min-age-holder">
	<span class="qodef-tour-min-age-icon qodef-tour-info-icon">
	<span class="icon_profile"></span>
	</span>
	<span class="qodef-tour-info-label">
		<%=result[2][i].person%>
	</span>
	</div>
	</div>
	<div class="qodef-tours-list-item-top-item">
	<div class="qodef-tours-tour-categories-holder">
	<div class="qodef-tours-tour-categories-item">
	<a href="/single/tour/details?id=<%=result[2][i].id%>">
	<span class="qodef-tour-cat-item-icon">
	<span aria-hidden="true" class="qodef-icon-font-elegant icon_pin_alt "></span> </span>
	<span class="qodef-tour-cat-item-text">
		<%=result[2][i].countryname%> </span>
	</a>
	</div>
	</div>
	</div>
	</div>
	<div class="qodef-tours-standard-item-content-inner">
	<div class="qodef-tours-standard-item-title-holder">
	<h4 class="qodef-tour-title">
	<a href="/single/tour/details?id=<%=result[2][i].id%>"><%=result[2][i].name%></a>
	</h4>
	</div>
	
	<div class="qodef-tours-standard-item-price-and-rating-holder">
	<span class="qodef-tours-item-price-holder">
	<span class="qodef-tours-price-holder">
	<span class="qodef-tours-item-price "><%=result[2][i].price%></span>
	</span>
	</span>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div> 
	
	
	<% } %>
	
	 
	
	
	
	<!-- end here -->
	
	</div>
	</div>
	</div></div></div></div></div>
	
	

<!-- holiday end -->


<div class="qodef-row-grid-section-wrapper "><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1540294900295"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-one-column  qodef-responsive-mode-768 "><div class="qodef-eh-item    " data-item-class="qodef-eh-custom-1996" data-769-1024="0 0 90px 0" data-681-768="0 0 90px 0" data-680="0 0 90px 0">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-1996" style="padding: 0 0 0 0">
<div class="qodef-testimonials-holder clearfix ">
<div class="qodef-testimonials qodef-owl-slider" data-number-of-items="1" data-enable-loop="yes" data-enable-autoplay="yes" data-slider-speed="5000" data-slider-speed-animation="600" data-enable-navigation="yes" data-enable-pagination="no">
<div class="qodef-testimonial-content">
<div class="qodef-testimonial-image">
<img width="143" height="144" src="/design/wp-content/uploads/2018/09/h1-testimonials-2.png" class="attachment-144x144 size-144x144 wp-post-image" alt="a" loading="lazy" srcset="/design/wp-content/uploads/2018/09/h1-testimonials-2.png 143w, /design/wp-content/uploads/2018/09/h1-testimonials-2-100x100.png 100w, /design/wp-content/uploads/2018/09/h1-testimonials-2-74x75.png 74w" sizes="(max-width: 143px) 100vw, 143px" /> </div>
<span class="qodef-testimonial-text">&quot;Dolor ipsum dolor sit amet, consectetuer adipiscing elit. Lorem commodo ligula eg dolor. Lorem Aenean msa. Cum sociis natoque&quot;</span>
<span class="qodef-testimonial-author">John Rios</span>
</div>
<div class="qodef-testimonial-content">
<div class="qodef-testimonial-image">
<img width="143" height="144" src="/design/wp-content/uploads/2018/09/h1-testimonial-1.png" class="attachment-144x144 size-144x144 wp-post-image" alt="a" loading="lazy" srcset="/design/wp-content/uploads/2018/09/h1-testimonial-1.png 143w, /design/wp-content/uploads/2018/09/h1-testimonial-1-100x100.png 100w, /design/wp-content/uploads/2018/09/h1-testimonial-1-74x75.png 74w" sizes="(max-width: 143px) 100vw, 143px" /> </div>
<span class="qodef-testimonial-text">&quot;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis&quot; </span>
<span class="qodef-testimonial-author">Marianna Loreto</span>
</div>
</div>
</div> </div>
</div>
</div></div></div></div></div></div></div></div>

<div class="qodef-row-grid-section-wrapper qodef-disabled-bg-image-bellow-1024 qodef-content-aligment-center" style="background-color:#f8f8f8;background-image: url(/design/wp-content/uploads/2018/10/h1-background-img-1.jpg)"><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1540471122214"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-one-column  qodef-responsive-mode-768 "><div class="qodef-eh-item    " data-item-class="qodef-eh-custom-8611" data-1025-1366="192px 270px 62px" data-769-1024="105px 70px 62px" data-681-768="105px 20px 62px" data-680="105px 0px 62px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-8611" style="padding: 192px 370px 62px">
<div class="qodef-section-title-holder ">
<div class="qodef-st-inner">
<span class="qodef-st-tagline" style="margin-bottom: -6px">
The Unforgettable </span>
<h1 class="qodef-st-title">
Mediterranean </h1>
<p class="qodef-st-text" style="font-size: 17px;line-height: 28px">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aene an commodo ligula eget dolor. Aenean massa. Cum sociis </p>
</div>
</div> </div>
</div>
</div></div>

<div class="qodef-tours-list-holder qodef-tours-row qodef-normal-space  qodef-info-skin-light qodef-tours-columns-3 qodef-tours-type-gallery">
<div class="qodef-tours-list-pagination-data">
<input type="hidden" name="number" value="3">
<input type="hidden" name="order_by" value="date">
<input type="hidden" name="order" value="ASC">
<input type="hidden" name="tour_category" value="trendy">
<input type="hidden" name="destination" value="">
<input type="hidden" name="thumb_size" value="full">
<input type="hidden" name="next_page" value="2">
<input type="hidden" name="tour_type" value="gallery">
<input type="hidden" name="image_size" value="full">
<input type="hidden" name="title_tag" value="h4">
<input type="hidden" name="text_length" value="">
</div>
<div class="qodef-tours-list-holder-inner qodef-tours-row-inner-holder qodef-outer-space">
<div class="qodef-tours-list-grid-sizer"></div>



<% for(i=0;i<3;i++){ %>

<div class="qodef-tours-gallery-item qodef-tours-row-item qodef-item-space qodef-tour-item-has-rating post-3183 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-trendy tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tours-gallery-item-image-holder">
<span class="qodef-tours-gallery-item-label-holder">
<span class="qodef-tour-item-label">
<span class="qodef-tour-item-label-inner">
Special Offer </span>
</span>
</span>
<div class="qodef-tours-gallery-item-image">
<img style="width: 413px;height:512px;object-fit: cover;" src="/images/<%=result[0][i].logo%>" class="attachment-full size-full" alt="d" loading="lazy" srcset="/images/<%=result[0][i].logo%> 1100w, /images/<%=result[0][i].logo%> 242w, /images/<%=result[0][i].logo%> 768w, /images/<%=result[0][i].logo%> 825w, /images/<%=result[0][i].logo%> 600w" sizes="(max-width: 1100px) 100vw, 1100px" />
<div class="qodef-tours-gallery-item-content-holder">
<div class="qodef-tours-gallery-item-content-inner">
<div class="qodef-tours-gallery-title-holder">
<h4 class="qodef-tour-title">
<%=result[0][i].name%> </h4>
<span class="qodef-tours-gallery-item-price-holder">
<span class="qodef-tours-price-holder">

</span>
</span>
</div>
</div>
</div>
</div>
<a class="qodef-tours-gallery-item-link" href="/tour-search?id=<%=result[0][i].id%>"></a>
</div>
</div>

<% } %>


</div>
</div></div></div></div></div></div></div>




<div data-parallax-bg-image="/design/wp-content/uploads/2018/09/h1-parallax-img-2.jpg" data-parallax-bg-speed="1" class="vc_row wpb_row vc_row-fluid vc_custom_1540978059799 qodef-parallax-row-holder qodef-content-aligment-center"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-row-grid-section-wrapper "><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-3 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-section-title-holder ">
<div class="qodef-st-inner">
<span class="qodef-st-tagline" style="color: #ffffff;margin-bottom: -6px">
Read The Top </span>
<h1 class="qodef-st-title" style="color: #ffffff">
Travel Reviews </h1>
<p class="qodef-st-text" style="color: #ffffff;font-size: 17px;line-height: 28px">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aene an commodo ligula eget dolor. Aenean massa. Cum sociis the </p>
</div>
</div><div class="vc_empty_space" style="height: 36px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid qodef-content-aligment-left"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-top-reviews-carousel-holder qodef-has-shadow">
<div class="qodef-top-reviews-carousel-inner">
<div class="qodef-top-reviews-carousel qodef-owl-slider" data-number-of-items="3" data-slider-margin="40" data-enable-navigation="no" data-enable-pagination="yes">
<div class="qodef-top-reviews-carousel-item">
<div class="qodef-top-reviews-carousel-item-wrapper">
<span class="qodef-top-reviews-item-author-avatar">
<img src="/design/wp-content/uploads/2018/09/user-img-7.png" width="107" height="107" alt="Ema Cooper" class="avatar avatar-107 wp-user-avatar wp-user-avatar-107 alignnone photo" /> </span>
<div class="qodef-tr-content-holder">
<h4 class="qodef-top-reviews-item-title">
<a href="tour-item/holland-canals/index.html">Holland Canals</a>
</h4>
<div class="qodef-tour-reviews-criteria-holder">
<div class="qodef-tour-reviews-criteria-holder-inner">
<span class="qodef-tour-reviews-rating-holder">
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
</span>
</div>
</div>
<div class="qodef-top-reviews-item-content">
Sa etor aviues lmpedlt tes, vof ef nihc agem qupaios. Ai apvy </div>
<div class="qodef-top-reviews-item-author-info">
<h6 class="qodef-top-reviews-item-author-name">
Ema Cooper </h6>
</div>
</div>
</div>
</div><div class="qodef-top-reviews-carousel-item">
<div class="qodef-top-reviews-carousel-item-wrapper">
<span class="qodef-top-reviews-item-author-avatar">
<img src="/design/wp-content/uploads/2018/09/user-img-4.png" width="107" height="107" alt="Susan Day" class="avatar avatar-107 wp-user-avatar wp-user-avatar-107 alignnone photo" /> </span>
<div class="qodef-tr-content-holder">
<h4 class="qodef-top-reviews-item-title">
<a href="tour-item/taipei/index.html">Taipei</a>
</h4>
<div class="qodef-tour-reviews-criteria-holder">
<div class="qodef-tour-reviews-criteria-holder-inner">
<span class="qodef-tour-reviews-rating-holder">
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
</span>
</div>
</div>
<div class="qodef-top-reviews-item-content">
Pe utor aviuas lwpadit tas, vut et nihc egam yubulas. Si euvy </div>
<div class="qodef-top-reviews-item-author-info">
<h6 class="qodef-top-reviews-item-author-name">
Susan Day </h6>
</div>
</div>
</div>
</div><div class="qodef-top-reviews-carousel-item">
<div class="qodef-top-reviews-carousel-item-wrapper">
<span class="qodef-top-reviews-item-author-avatar">
<img src="/design/wp-content/uploads/2018/09/user-img-3.png" width="107" height="107" alt="Roger Brooks" class="avatar avatar-107 wp-user-avatar wp-user-avatar-107 alignnone photo" /> </span>
<div class="qodef-tr-content-holder">
<h4 class="qodef-top-reviews-item-title">
<a href="tour-item/kaohsiung/index.html">Kaohsiung</a>
</h4>
<div class="qodef-tour-reviews-criteria-holder">
<div class="qodef-tour-reviews-criteria-holder-inner">
<span class="qodef-tour-reviews-rating-holder">
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
</span>
</div>
</div>
<div class="qodef-top-reviews-item-content">
Fa etor eviuas lwqedit tas, vut et nihc egam yubulas. Ei euvy </div>
<div class="qodef-top-reviews-item-author-info">
<h6 class="qodef-top-reviews-item-author-name">
Roger Brooks </h6>
</div>
</div>
</div>
</div><div class="qodef-top-reviews-carousel-item">
<div class="qodef-top-reviews-carousel-item-wrapper">
<span class="qodef-top-reviews-item-author-avatar">
<img src="/design/wp-content/uploads/2018/09/user-img-2.png" width="107" height="107" alt="James Fisher" class="avatar avatar-107 wp-user-avatar wp-user-avatar-107 alignnone photo" /> </span>
<div class="qodef-tr-content-holder">
<h4 class="qodef-top-reviews-item-title">
<a href="tour-item/barcelona/index.html">Barcelona</a>
</h4>
<div class="qodef-tour-reviews-criteria-holder">
<div class="qodef-tour-reviews-criteria-holder-inner">
<span class="qodef-tour-reviews-rating-holder">
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
</span>
</div>
</div>
<div class="qodef-top-reviews-item-content">
Fa etor eviuas lwqedit tas, vut et nihc egam yubulas. Ei euvy </div>
<div class="qodef-top-reviews-item-author-info">
<h6 class="qodef-top-reviews-item-author-name">
James Fisher </h6>
</div>
</div>
</div>
</div><div class="qodef-top-reviews-carousel-item">
<div class="qodef-top-reviews-carousel-item-wrapper">
<span class="qodef-top-reviews-item-author-avatar">
<img src="/design/wp-content/uploads/2018/09/user-img-6.png" width="107" height="107" alt="Sam Smith" class="avatar avatar-107 wp-user-avatar wp-user-avatar-107 alignnone photo" /> </span>
<div class="qodef-tr-content-holder">
<h4 class="qodef-top-reviews-item-title">
<a href="tour-item/madrid/index.html">Madrid</a>
</h4>
<div class="qodef-tour-reviews-criteria-holder">
<div class="qodef-tour-reviews-criteria-holder-inner">
<span class="qodef-tour-reviews-rating-holder">
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
</span>
</div>
</div>
<div class="qodef-top-reviews-item-content">
Pe ator eviuas lwqedit tas, vut et nihc egam yubulas. Ei euvy </div>
<div class="qodef-top-reviews-item-author-info">
<h6 class="qodef-top-reviews-item-author-name">
Sam Smith </h6>
</div>
</div>
</div>
</div><div class="qodef-top-reviews-carousel-item">
<div class="qodef-top-reviews-carousel-item-wrapper">
<span class="qodef-top-reviews-item-author-avatar">
<img src="/design/wp-content/uploads/2018/09/user-img-5.png" width="107" height="107" alt="Carl Moore" class="avatar avatar-107 wp-user-avatar wp-user-avatar-107 alignnone photo" /> </span>
<div class="qodef-tr-content-holder">
<h4 class="qodef-top-reviews-item-title">
<a href="tour-item/tarragona/index.html">Tarragona</a>
</h4>
<div class="qodef-tour-reviews-criteria-holder">
<div class="qodef-tour-reviews-criteria-holder-inner">
<span class="qodef-tour-reviews-rating-holder">
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
</span>
</div>
</div>
<div class="qodef-top-reviews-item-content">
Fa etor eviuas lwqedit tas, vut et nihc egam yubulas. Ei euvy </div>
<div class="qodef-top-reviews-item-author-info">
<h6 class="qodef-top-reviews-item-author-name">
Carl Moore </h6>
</div>
</div>
</div>
</div><div class="qodef-top-reviews-carousel-item">
<div class="qodef-top-reviews-carousel-item-wrapper">
<span class="qodef-top-reviews-item-author-avatar">
<img src="/design/wp-content/uploads/2018/09/user-img-1.png" width="107" height="107" alt="Carol Silva" class="avatar avatar-107 wp-user-avatar wp-user-avatar-107 alignnone photo" /> </span>
<div class="qodef-tr-content-holder">
<h4 class="qodef-top-reviews-item-title">
<a href="tour-item/beautiful-holland/index.html">Beautiful Holland</a>
</h4>
<div class="qodef-tour-reviews-criteria-holder">
<div class="qodef-tour-reviews-criteria-holder-inner">
<span class="qodef-tour-reviews-rating-holder">
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star_alt"></span>
</span>
</span>
</div>
</div>
<div class="qodef-top-reviews-item-content">
Fo etor uvluoc iwpodit res, vet of nihc egam yubulas. Al uavq </div>
<div class="qodef-top-reviews-item-author-info">
<h6 class="qodef-top-reviews-item-author-name">
Carol Silva </h6>
</div>
</div>
</div>
</div><div class="qodef-top-reviews-carousel-item">
<div class="qodef-top-reviews-carousel-item-wrapper">
<span class="qodef-top-reviews-item-author-avatar">
<img src="/design/wp-content/uploads/2018/09/user-img-5.png" width="107" height="107" alt="Carl Moore" class="avatar avatar-107 wp-user-avatar wp-user-avatar-107 alignnone photo" /> </span>
<div class="qodef-tr-content-holder">
<h4 class="qodef-top-reviews-item-title">
<a href="tour-item/temple-tour/index.html">Temple Tour</a>
</h4>
<div class="qodef-tour-reviews-criteria-holder">
<div class="qodef-tour-reviews-criteria-holder-inner">
<span class="qodef-tour-reviews-rating-holder">
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star"></span>
</span>
<span class="qodef-tour-reviews-star-holder">
<span class="qodef-tour-reviews-star icon_star_alt"></span>
</span>
</span>
</div>
</div>
<div class="qodef-top-reviews-item-content">
Te utar uvlues iwqodit tas, vut et nihc egam yubulas. Ei euvy </div>
<div class="qodef-top-reviews-item-author-info">
<h6 class="qodef-top-reviews-item-author-name">
Carl Moore </h6>
</div>
</div>
</div>
</div> </div>
</div>
</div></div></div></div></div></div></div></div></div><div class="qodef-row-grid-section-wrapper "><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_row-o-content-top vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-7 vc_col-md-10"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-one-column  qodef-responsive-mode-768 "><div class="qodef-eh-item  qodef-vertical-alignment-top  " data-item-class="qodef-eh-custom-9594" data-1367-1600="165px 0 0 0" data-1025-1366="140px 0 68px" data-769-1024="155px 0 0 0" data-681-768="155px 0 0 0" data-680="160px 0 0 0">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-9594" style="padding: 165px 0 0 0">
<div class="qodef-section-title-holder ">
<div class="qodef-st-inner">
<h2 class="qodef-st-title">
From Our Blog </h2>
<p class="qodef-st-text" style="font-size: 17px;line-height: 28px">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aene an commodo ligula eget dolor. Aenean massa. Cum sociis the </p>
</div>
</div><div class="vc_empty_space" style="height: 62px"><span class="vc_empty_space_inner"></span></div><div class="qodef-blog-list-holder qodef-grid-list qodef-disable-bottom-space qodef-bl-simple qodef-one-columns qodef-medium-space qodef-bl-pag-no-pagination" data-type=simple data-number-of-posts=2 data-number-of-columns=one data-space-between-items=medium data-category=food data-orderby=date data-order=ASC data-image-size=full data-title-tag=h4 data-excerpt-length=23 data-post-info-image=yes data-pagination-type=no-pagination data-widget-simple=no data-max-num-pages=1 data-next-page=2>
<div class="qodef-bl-wrapper qodef-outer-space">
<ul class="qodef-blog-list">
<li class="qodef-bl-item qodef-item-space clearfix">
<div class="qodef-bli-inner">
<div class="qodef-post-image">
<a itemprop="url" href="amazing-tour/index.html" title="Amazing Tour">
<img width="1300" height="1300" src="/design/wp-content/uploads/2016/09/blog-img-12.jpg" class="attachment-full size-full wp-post-image" alt="d" loading="lazy" srcset="/design/wp-content/uploads/2016/09/blog-img-12.jpg 1300w, /design/wp-content/uploads/2016/09/blog-img-12-150x150.jpg 150w, /design/wp-content/uploads/2016/09/blog-img-12-300x300.jpg 300w, /design/wp-content/uploads/2016/09/blog-img-12-768x768.jpg 768w, /design/wp-content/uploads/2016/09/blog-img-12-1024x1024.jpg 1024w, /design/wp-content/uploads/2016/09/blog-img-12-650x650.jpg 650w, /design/wp-content/uploads/2016/09/blog-img-12-600x600.jpg 600w, /design/wp-content/uploads/2016/09/blog-img-12-100x100.jpg 100w, /design/wp-content/uploads/2016/09/blog-img-12-75x75.jpg 75w" sizes="(max-width: 1300px) 100vw, 1300px" /> </a>
</div>
<div class="qodef-bli-content">
<h4 itemprop="name" class="entry-title qodef-post-title">
<a itemprop="url" href="amazing-tour/index.html" title="Amazing Tour">
Amazing Tour </a>
</h4> <div class="qodef-post-excerpt-holder">
<p itemprop="description" class="qodef-post-excerpt">
Al alit emnos lnipedit ius, vel et hinc agam fabulas. Ut audiam invenire iracundia vim. An eam dico similique, ut sint posse sit, </p>
</div>
<div class="qodef-bli-info">
<div itemprop="dateCreated" class="qodef-post-info-date entry-date published updated">
<a itemprop="url" href="2016/09/index.html">
September 11, 2016 </a>
<meta itemprop="interactionCount" content="UserComments: 0" />
</div> <div class="qodef-post-info-comments-holder">
<a itemprop="url" class="qodef-post-info-comments" href="amazing-tour/index.html#comments">
<span aria-hidden="true" class="qodef-icon-linear-icons lnr lnr-bubble qodef-post-info-comments-icon"></span> 1 Comment </a>
</div>
</div>
</div>
</div>
</li><li class="qodef-bl-item qodef-item-space clearfix">
<div class="qodef-bli-inner">
<div class="qodef-post-image">
<a itemprop="url" href="your-vacation/index.html" title="Your Vacation">
<img width="1300" height="1300" src="/design/wp-content/uploads/2016/09/blog-img-13.jpg" class="attachment-full size-full wp-post-image" alt="d" loading="lazy" srcset="/design/wp-content/uploads/2016/09/blog-img-13.jpg 1300w, /design/wp-content/uploads/2016/09/blog-img-13-150x150.jpg 150w, /design/wp-content/uploads/2016/09/blog-img-13-300x300.jpg 300w, /design/wp-content/uploads/2016/09/blog-img-13-768x768.jpg 768w, /design/wp-content/uploads/2016/09/blog-img-13-1024x1024.jpg 1024w, /design/wp-content/uploads/2016/09/blog-img-13-650x650.jpg 650w, /design/wp-content/uploads/2016/09/blog-img-13-600x600.jpg 600w, /design/wp-content/uploads/2016/09/blog-img-13-100x100.jpg 100w, /design/wp-content/uploads/2016/09/blog-img-13-75x75.jpg 75w" sizes="(max-width: 1300px) 100vw, 1300px" /> </a>
</div>
<div class="qodef-bli-content">
<h4 itemprop="name" class="entry-title qodef-post-title">
<a itemprop="url" href="your-vacation/index.html" title="Your Vacation">
Your Vacation </a>
</h4> <div class="qodef-post-excerpt-holder">
<p itemprop="description" class="qodef-post-excerpt">
Al alit emnos lnipedit ius, vel et hinc agam fabulas. Ut audiam invenire iracundia vim. An eam dico similique, ut sint posse sit, </p>
</div>
<div class="qodef-bli-info">
<div itemprop="dateCreated" class="qodef-post-info-date entry-date published updated">
<a itemprop="url" href="2016/09/index.html">
September 11, 2016 </a>
<meta itemprop="interactionCount" content="UserComments: 0" />
</div> <div class="qodef-post-info-comments-holder">
<a itemprop="url" class="qodef-post-info-comments" href="your-vacation/index.html#comments">
<span aria-hidden="true" class="qodef-icon-linear-icons lnr lnr-bubble qodef-post-info-comments-icon"></span> 1 Comment </a>
</div>
</div>
</div>
</div>
</li> </ul>
</div>
</div> </div>
</div>
</div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-1"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-10"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-elements-holder   qodef-one-column  qodef-responsive-mode-768 "><div class="qodef-eh-item  qodef-vertical-alignment-top  " data-item-class="qodef-eh-custom-1001" data-1025-1366="190px 0 0 0" data-769-1024="70px 0 70px" data-681-768="70px 0 170px" data-680="70px 0 170px">
<div class="qodef-eh-item-inner">
<div class="qodef-eh-item-content qodef-eh-custom-1001" style="padding: 170px 0 70px 0">
<div class="qodef-banner-holder  qodef-visible-on-default qodef-banner-info-top">
<div class="qodef-banner-image">
<img width="800" height="1060" src="/design/wp-content/uploads/2018/09/h1-banner-img-1.jpg" class="attachment-full size-full" alt="k" loading="lazy" srcset="/design/wp-content/uploads/2018/09/h1-banner-img-1.jpg 800w, /design/wp-content/uploads/2018/09/h1-banner-img-1-226x300.jpg 226w, /design/wp-content/uploads/2018/09/h1-banner-img-1-768x1018.jpg 768w, /design/wp-content/uploads/2018/09/h1-banner-img-1-773x1024.jpg 773w, /design/wp-content/uploads/2018/09/h1-banner-img-1-600x795.jpg 600w, /design/wp-content/uploads/2018/09/h1-banner-img-1-57x75.jpg 57w" sizes="(max-width: 800px) 100vw, 800px" /> </div>
<div class="qodef-banner-text-holder">
<div class="qodef-banner-text-outer">
<div class="qodef-banner-text-inner">
<h5 class="qodef-banner-subtitle">
travel.com </h5>
<h2 class="qodef-banner-title">
Sale up to 70% </h2>
</div>
</div>
</div>
<a itemprop="url" class="qodef-banner-link" href="shop/index.html" target="_self"></a>
</div> </div>
</div>
</div></div></div></div></div></div></div></div>


<div class="qodef-row-grid-section-wrapper qodef-disabled-bg-image-bellow-768 qodef-content-aligment-center" style="background-color:#f8f8f8;background-image: url(/design/wp-content/uploads/2018/10/h1-background-img-2.jpg)"><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1539082638899 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-12 vc_col-md-offset-0 vc_col-md-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-3 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space" style="height: 62px"><span class="vc_empty_space_inner"></span></div><div class="qodef-section-title-holder ">
<div class="qodef-st-inner">
<span class="qodef-st-tagline" style="margin-bottom: -6px">
Choose Your </span>
<h1 class="qodef-st-title">
Destination </h1>
<p class="qodef-st-text" style="font-size: 17px;line-height: 28px">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aene an commodo ligula eget dolor. Aenean massa. Cum sociis </p>
</div>
</div><div class="vc_empty_space" style="height: 62px"><span class="vc_empty_space_inner"></span></div></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1539161528309"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-tours-destination-holder qodef-destination-standard qodef-grid-list qodef-disable-bottom-space qodef-three-columns qodef-extra-large-space qodef-has-rounded-style qodef-has-overlay-style">
<div class="qodef-td-inner qodef-outer-space">


	<% for(i=0;i<3;i++){ %>


	<div class="qodef-td-item qodef-item-space">
<div class="qodef-tdi-content">
<div class="qodef-tdi-image">
<img style="width: 353px;height:353px;object-fit: cover;" src="/images/<%=result[0][i].logo%>" class="attachment-setsail_select_image_square size-setsail_select_image_square wp-post-image" alt="d" loading="lazy" srcset="/images/<%=result[0][i].logo%> 650w, /images/<%=result[0][i].logo%> 150w, /images/<%=result[0][i].logo%> 300w, /images/<%=result[0][i].logo%> 768w, /images/<%=result[0][i].logo%> 600w, /images/<%=result[0][i].logo%> 100w, /images/<%=result[0][i].logo%> 800w" sizes="(max-width: 650px) 100vw, 650px" /> </div>
<a class="qodef-tdi-content-link" href="/tour-search?id=<%=result[0][i].id%>"></a>
<div class="qodef-destination-has-featured-mark">
<span aria-hidden="true" class="qodef-icon-font-elegant icon_star "></span> </div>
<div class="qodef-tdi-text">
<div class="qodef-tdi-text-inner">
<h3 class="qodef-tdi-title"><%=result[0][i].name%></h3>
</div>
</div>
</div>
</div>


<% } %>

</div>
</div></div></div></div></div></div></div></div></div></div></div>







<div class="qodef-row-grid-section-wrapper qodef-content-aligment-center"><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1539684091316"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-3 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-section-title-holder ">
<div class="qodef-st-inner">
<span class="qodef-st-tagline" style="margin-bottom: -6px">
Get Ready. </span>
<h1 class="qodef-st-title">
Pack Up and Go </h1>
<p class="qodef-st-text" style="font-size: 17px;line-height: 28px">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aene an commodo ligula eget dolor. Aenean massa. Cum sociis the </p>
</div>
</div></div></div></div></div></div></div>



<div class="vc_row wpb_row vc_row-fluid vc_custom_1539766482430 vc_row-o-content-middle vc_row-flex qodef-content-aligment-center"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner vc_custom_1540977870937"><div class="wpb_wrapper"><div class="qodef-clients-carousel-holder qodef-cc-hover-hover-info qodef-cc-post-stamp-frame ">
<div class="qodef-cc-inner qodef-owl-slider" data-number-of-items="6" data-slider-margin="10" data-enable-loop="yes" data-enable-autoplay="yes" data-slider-speed="5000" data-slider-speed-animation="600" data-enable-navigation="yes" data-enable-pagination="no" data-enable-center="yes">


<% for(i=0;i<result[1].length;i++) { %>

	<div class="qodef-cc-item qodef-item-space qodef-cci-has-link">
<a itemprop="url" class="qodef-cc-link qodef-block-drag-link" href="details/<%=result[1][i].id%>/tour-search" target="_self">
<img itemprop="image" class="qodef-cc-image" src="/images/<%=result[1][i].logo%>" style="width: 144px;height:194px;object-fit: cover;" alt="x" />
<div class="qodef-cc-info">
<h6 class="qodef-cc-info-title"><%=result[1][i].name%></h6>
</div>
</a>
</div>


<% } %>

</div>
</div></div></div></div></div>












</div>
</div>
</div>
</div>
</div> 
</div> 

<%- include ('./footer.ejs') %>


